
<nav class="nav-menu">
    <div class="nav-container">
        <a href="/" class="nav-brand">Portfolio</a>
        <ul class="nav-links">
            <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink href="/projects">Projects</NavLink></li>
            <li><NavLink href="/about">About</NavLink></li>
            <li><NavLink href="/contact">Contact</NavLink></li>
        </ul>
    </div>
</nav>
